/* Start Variable */
:root {
  --mainColor: #10cab7;
  --secondColor: #2c4856;
  --secondFontColor: #999;
  --padingSection: 40px;
  --section-backgraound: #f6f6f6;
  --transitionTime: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}
ul {
  list-style: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large  1170px*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
